.app-header-logo {
    float: left;
    height: 45px;
    margin-top: 10px;
}

.app-header-menu {
    float: left;
    margin-left: 300px !important;
    margin-top: 0px !important;
    border-bottom: none;
}